html, body {
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}

.section {
    background-position: center;
    height: 100vh;
}

.section h1 {
    font-size: 5vw;
    color: white;
}

.section-title {
    color: white;
    font-size: 5vw;
}

.navigation {
    color: white;
    position: absolute;
    z-index: 1;
    display: flex;
    padding: 0;
    list-style: none;
    flex-direction: column;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: darkgrey;
}

.navigation li {
    padding: 4px;
    font-size: 2vw;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #top-nav{
    display: block;
}
#toggle-menu {
    background-color: black;
    margin: 0;
    height: 10vh;
}
@media screen and (max-width : 760px) {
    #top-nav {
        background-color: black;
        right: unset;
        height: fit-content;
        width: 100vw;
        margin: 0;
        padding: 0;
        overflow: hidden;
        box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px
        rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        position: fixed;
        text-align: center;
        display: none;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display: block;
    }
}
#ham-menu {
    position: fixed;
    top: 0;
    right: 0;
}
.bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

#header {
    background-image: url(../images/caroline-hernandez-219724.jpg);
    background-size: cover;
    padding-top: 35vh;
}

#outerwear {
    background-image: url(../images/michal-parzuchowski-78367.jpg);
    background-size: cover;
    padding-top: 50vh;
}

#dresses {
    background-image: url(../images/caroline-hernandez-376320.jpg);
    background-size: cover;
    padding-top: 8vh;
}

#jumpers {
    background-image: url(../images/michal-janek-194890.jpg);
    background-size: cover;
    padding-top: 21vh;
}

#bottoms {
    background-image: url(../images/jordan-whitt-219692.jpg);
    background-size: cover;
    padding-top: 50vh;
}

#contact {
    padding-top: 15vh;
    background-color: #f9f9f9;
}

#contact h1 {
    font-size: 5vw;
    color: black;
    padding-bottom: 5vh;
}

#contact p {
    font-size: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#contact a {
    color: inherit;
}

#contact a:hover {
    text-decoration: none;
    color: gray;
}

#contact-btn {
    background-color: #bbe1d8;
    border: none;
    border-radius: 0;
    box-shadow: 2.5px 3px 4px 0 lightgrey;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2vw;
    margin-top:5vh;
}

#retailers {
    padding-top: 15vh;
}

#retailers h1{
    font-size: 5vw;
    color: black;
    padding-bottom: 5vh;
 }

#retailers p {
    font-size: 2vw;
}

#footer {
    background-color: black;
    height: 20vh;
    padding-top: 7vh;
}

#footer ul {
    flex-direction: row;
    position: inherit;
    margin: 0;
    justify-content: space-evenly;
}

#footer li {
    padding-right: 3vw;
    padding-left: 3vw;
}